@use '../../styles/mixins' as *;

.chip {
  @include circle(40px, transparent);
  @include flex-center();
  background: radial-gradient(
                  circle at 30% 30%,
                  #ffffff 5%,
                  #d74f1b 40%,
                  #b22222 60%
  );
  border: 3px solid #d4af37;
  box-shadow:
          0 4px 0 #800000,
          0 6px 10px rgba(0, 0, 0, 0.5);
  @include text-style(14px, bold);
  color: white;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition:
          transform 0.2s,
          box-shadow 0.2s;

  @media (min-width: 769px) {
    @include circle(60px, transparent);
    font-size: 18px;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  &[disabled] {
    opacity: 0.4;
  }
}
