@use '../../styles/mixins' as *;

.table {
  position: fixed;
  justify-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background:
    url('../../../public/assets/table-cover.jpg') center center / cover
      no-repeat,
    #024f01;
  box-shadow:
    inset 0 10px 30px rgba(0, 0, 0, 0.5),
    0 10px 30px rgba(0, 0, 0, 1);
  z-index: 1;

  @media (min-width: 769px) {
    border-radius: 0 0 40% 40%;
    height: 80%;
  }

  .chip-area {
    position: absolute;
    bottom: 17%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;

    @media (min-width: 769px) {
      bottom: -12%;
    }
  }

  .dealer-area {
    @include absolute(13%, 'auto', 'auto', 50%, -50%);

    @media (min-width: 769px) {
      top: 20%;
    }
  }

  .player-seat-area {
    @include absolute('auto', 0, 28%, 15%);
    @include flex-center();
    width: 70%;
    height: 150px;
    gap: 100px;

    @media (min-width: 769px) {
      bottom: 12%;
    }

    &:nth-child(n + 6) {
      display: none;
    }

    .card {
      position: relative;
      transition: transform 0.2s ease;

      &:nth-child(n) {
        margin-left: -40px;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
