@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin circle($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
  border-radius: 50%;
}

@mixin gradient-background($color1, $color2) {
  background: radial-gradient(circle, $color1, $color2);
}

@mixin text-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin hover-effect($color) {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $color;
  }
}

@mixin absolute(
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto,
  $translateX: false
) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;

  @if $translateX {
    transform: translateX(-50%);
  }
}

@mixin inset-shadow {
  box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.5);
}
