@use '../../styles/mixins' as *;

.button {
  @include text-style(16px, normal);
  background-color: #d74f1b;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover {
    @include hover-effect(#c44717);
  }

  &:active {
    background-color: #a53c14;
  }
}
