@use '../../styles/mixins' as *;

.modal {
  @include absolute(0, 0, 0, 0);
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  @include flex-center;
  z-index: 2;

  .modal-close-btn {
    max-width: 250px;
  }

  .modal-content {
    @include flex-center(column);
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    margin-bottom: 15%;

    h2 {
      @include text-style(40px, bold);
      margin-top: 0;
      color: white;
    }
  }
}
